body {
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Nanum Gothic', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  /* color: white; */
  color: black;
  height: 100%;
  background: linear-gradient(0deg, rgba(175, 66, 8, 0.8498787183440133) 28%, rgba(226, 156, 37, 1) 64%, rgba(60, 114, 30, 0.5296539992428897) 98%);
}

button {
  color: black;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.backcolor {
  background: linear-gradient(0deg, rgba(175, 66, 8, 0.8498787183440133) 28%, rgba(226, 156, 37, 1) 64%, rgba(60, 114, 30, 0.5296539992428897) 98%);
}

button.buttonstyle {
  border-radius: 5px;
  padding: 20px;
  font-size: 10px;
  margin: auto;
  position: relative;
  border: solid 1px rgb(173, 173, 173);
  outline: none;
  width: 80px;
}

h1 {
  color: black;
  margin: 0px;
}

ul.colorlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 5%;
  position: fixed;
  height: 100%;
  padding: 10px;
}

li.colorbutton {
  list-style-type: none;
  transform: rotate(90deg);
  height: 50px;
  width: 0px;
  margin: 0px;
}

div.titleWord {
  display: flex;
}

div.ghost {
  width: 25%;
}

div.title {
  text-align: center;
  width: 50%;
  padding-top: 0!important;
}

div.ghost2 {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.DayWord {
  color: black;
}

a.DayWord:hover {
  color: rgb(192, 59, 59);
  text-decoration: none;
}

h3.DayWord {
  font-size: 28px;
  text-align: center;
  height: 100%;
  margin: 0!important;
}

/* media queries */
@media screen and (max-width: 1034px) {
  div.titleWord {
    display: flex;
    flex-direction: column;
  }

  div.ghost {
    display: none;
  }

  div.title {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  div.ghost2 {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: -10px;
  
  }
  
  div.wordofday {
    text-align: center;
    margin: auto;
    text-align: center;
    font-size: 10px;
    height: 100%;
  }
}

@media screen and (max-width: 606px) {
  div.App {
    min-height: 100vh;
  }

  h3.DayWord {
    font-size: 25px;
  }

  button.buttonstyle {
    border-radius: 5px;
    padding: 20px;
    width: 80px;
  }

  ul.colorlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
  }

  li.colorbutton {
    padding: 5px;
    margin: 8px;
  }
}