.wordOfDayContainer {
    width: 70vw;
    margin: 0 auto;
}

.titleWOD {
    font-size: 35px;
    color: rgb(65, 65, 65);
    padding: 10px auto 0 auto;
    margin: 10px auto 0 auto;
    /* font-family: njnastrike; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1.word {
    font-size: 70px;
    padding: 15px;
}

h2.text {
    font-size: 28px;
    padding: 0px 10px;
    margin-bottom: 60px;
}

.origin {
    font-size: 32px;
    color: black;
    padding-top: 10px;
}

.originText {
    font-size: 28px;
    padding: 0px 20px 0px 20px;
}

h3.date {
    padding: 30px 0px 0px 0px;
    font-size: 23px;
}

#exit {
   width: 100%;
   margin: 80px 0 0 auto;
}

#exit button {
    margin: 0;
    margin-right: 30px;
}

/* media queries */
@media screen and (max-width: 790px) {
    .wordOfDayContainer {
        width: 95vw;
        margin: 0 auto;
    }

    #exit button {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 606px) {
    .titleWOD {
        font-size: 20px;
    }
    
    h1.word {
        font-size: 40px;
    }

    h2.text {
        font-size: 22px;
    }

    .origin {
        font-size: 25px;
       
    }
    
    .originText {
        font-size: 20px;
    }
    
    h3.date {
        font-size: 18px;
    }
}