#difficultyList {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#difficultyList li {
  list-style-type: none;
  padding: 0 20px 20px 20px;
  cursor: pointer;
  font-size: 25px;

}

#difficultyList li:hover {
  color: rgb(192, 59, 59);
}

.active {
  color: rgb(94, 26, 9);
  /* text-shadow: 2px 2px whitesmoke; */
}

.startButton {
  border: none;    
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);  
  font-weight: bold;
  font-size: 27px;
  margin: 0px 20px 10px 20px;
  width: 25%;
  /* color: antiquewhite; */
  /* text-shadow: 2px 2px grey; */
}

.startButton:hover {
  background-color: rgba(175, 173, 48, 0.733);
}

/* media queries */
@media screen and (max-width: 606px) {
  #difficultyList li {
    padding: 0 10px 10px 10px;
    cursor: pointer;
    font-size: 18px;
  }

  .startButton {
    padding: 5px;
    font-size: 18px;
    margin: 10px auto 20px auto;
    width: 25%;
    text-align: center;
  }
}