#leaderTable {
  height: 57vh;
  overflow-y: scroll;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background:"transparent";
}
 
::-webkit-scrollbar-thumb {
  background:red; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(207, 61, 61, 0.733);
}

/* media queries */
@media screen and (max-width: 606px) {
  .table h4 {
    font-size: 18px;
    font-weight: bold;
  }
  #leaderTable {
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
}